html, 
body {
	padding: 0;
	margin: 0;
   height: 100%;
   color: #fff;
}

#background {
	
    background-image: 
    url(../images/bg3.jpg);
    opacity: 0.98; 
    background-position: center;
    background-size: cover;
    display: table;
    height: 100%;
    width: 100%;
}

#loginContainer * {
	color: #fff(0, 0, 0);
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-weight: normal;
	line-height: 1em;
	box-sizing: border-box;
}

#loginContainer {
	width: 80%;
   margin: 3 auto;
   margin-left: 1%;
	position: relative;
	max-width: 1024px;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #fff;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #fff;
}
#inputContainer{
	width:400px;
	padding:30px;
	float: left;
	border-right:1px solid #999;

}

#inputContainer h2{
   text-align:center;
   font-size: 30px;
   color: #fff;
}
#inputContainer input[type="text"],
#inputContainer input[type="email"],
#inputContainer input[type="password"]{
	display: block;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #b62423 ;
    height: 27px;
    line-height: 27px;
    width: 100%;
    color: aliceblue;
}
#inputContainer label{
	color: #a0a0a0;
    font-size: 13px;
    margin-top: 15px;
    display:block;
}
#inputContainer button{
width: 100%;
background-color: transparent;
border: 1px solid 	#d43052;
border-radius: 250px;
color: #fff;
display: block;
font-size: 14px;
letter-spacing: 1px;
margin: 20px auto;
height: 41px;
}
#inputContainer button:hover{
   cursor:pointer;
   background:#9a767624;
}
.hasAccountText span {
   font-weight: bold;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
}

.hasAccountText {
   text-align: center;
}
#registerForm,
#loginForm{
   display: none;
}
.constants{
   color: #fff;
}
#loginText{
   padding: 30px;
   display: table-cell;
   
}
#loginText h1{
   color: #a8aae0;
   font-size:60px;
   font-weight:bold;
}
#loginText h2{
   margin:35.5px 0;
}
#loginText ul{
   padding:0;
}
#loginText li{
   font-size:17x;
   list-style-type: none;
   padding:11px;
   background: url(../images/icons/checkmarkOne.png) no-repeat;
   padding: 5px 32px;
}
#inputContainer .errorMessage{
   color: #d43052;
   font-size:13px;
   display: block;
   margin-top:15px;
   margin-bottom:15px;
}
